/****************
Night Mood
****************/

.btn-night-mode .btn-night-mode-switch {
    display: inline-block;
    height: 18px;
    width: 37px;
    top: 35%;
    right: 13px;
    position: absolute;
}

.btn-night-mode .uk-switch-button {
    background-color: rgba(0, 0, 0, 0.09);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 500px;
    bottom: 0;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .2s;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.07);
}

.btn-night-mode .uk-switch-button:before {
    content: '';
    background-color: #a9a9a9;
    position: absolute;
    width: 21px;
    height: 21px;
    left: 0px;
    bottom: -1px;
    border-radius: 50%;
    transition-property: transform, box-shadow;
    transition-duration: .2s;
}

.night-mode .btn-night-mode .uk-switch-button {
    background-color: #4e4e4e !important;
}

.night-mode .btn-night-mode .uk-switch-button:before {
    transform: scale(1.3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
    transform: translateX(17px);
    background: #62d76b;
}


.night-mode ,
.night-mode html , 
.night-mode body , 
.night-mode .main_content ,
.night-mode .bg-gradient-yellow  ,
.night-mode .sidebar ,
.night-mode .nav-profile ,
.night-mode .post .post-add-comment-text-area,
.night-mode .post .post-add-comment-text-area input ,
.night-mode .course-card ,
.night-mode .quiz-block .btn-acts .button ,
.night-mode .quiz-block-add-replay ,
.night-mode .story-pop .story-content{
    background-color: #08090f !important; 
    color: hsla(0, 0%, 100%, 0.79) !important;
}
 
.night-mode .main_sidebar .sidebar-header, .night-mode #main_header{
    background-color: #12141E!important;
    background-color: #191d2f !important;
}

 
 

/* all theme custom cards */ 
.night-mode .nav-single-group, .night-mode .setting-menu, .night-mode .group-card, .night-mode .events-list, .night-mode .event-info-date, .night-mode .nav-profile, .night-mode .post, .night-mode .post-new, .night-mode .profile-friend-card, .night-mode .contact-list-box, .night-mode .blog-post, .night-mode .course-curriculum-list>li, .night-mode .course-intro-card, .night-mode .pages-card:hover , .night-mode .game-card , .night-mode .moviecontent , .night-mode .chats-container-inner .chats-inbox , .night-mode .chats-inbox ul li.active-message , .night-mode .message-bubble .message-text{
    background-color: #12141e;
    box-shadow: 0px 2px 10px 0px #0000001a;
}

.night-mode #logo img {
      display:none;
  }
 .night-mode #logo .logo-inverse{
      display:inline !important
  }
 
/* Titles & texts */
.night-mode .uk-h1, .night-mode h1, .night-mode .uk-h2, .night-mode h2, .night-mode .uk-h3, .night-mode h3, .night-mode .uk-h4, .night-mode h4, .night-mode .uk-h5, .night-mode h5, .night-mode .uk-h6, .night-mode h6, .night-mode .uk-text-black, .night-mode .uk-text-red, .night-mode .uk-text-schoolmedia, .night-mode .uk-text-sucess, .night-mode .uk-text-muted, .night-mode .uk-card-default .uk-card-title, .night-mode .uk-card-default, .night-mode .uk-text-lead, .night-mode .text-black, .night-mode .text-red, .night-mode .text-schoolmedia, .night-mode .text-sucess, .night-mode .text-muted, .night-mode .text-lead, .night-mode .section-header-left>*,.night-mode .contact-list-box p {
    color: #dbdbdb !important;
}


/* Buttons */
.night-mode .button,
.night-mode .button.btn-schoolmedia,
.night-mode .button.btn-red,
.night-mode .button.btn-pink,
.night-mode .button.btn-purple,
.night-mode .button.btn-blue,
.night-mode .button.btn-cyan,
.night-mode .button.btn-teal,
.night-mode .button.btn-green,
.night-mode .button.btn-yellow,
.night-mode .button.btn-orange,
.night-mode .button.btn-brown,
.night-mode .button.btn-grey,
.night-mode .button.btn-default,
.night-mode .button.btn-white,
.night-mode .button.btn-light,
.night-mode .button.btn-disabled,
.night-mode .uk-button,
.night-mode .uk-button-default ,
.night-mode .Markup-botton,
.night-mode .iconbox ,
.night-mode :not(pre)>code,
.night-mode .uk-label,
.night-mode .uk-icon-button,
.night-mode .uk-pagination>*>*,
.night-mode .uk-modal-close-full,
.night-mode .uk-tooltip,
.night-mode .display-as a.active,
.night-mode .slidenav-next,
.night-mode .slidenav-prev,
.night-mode #backtotop a,
.night-mode .display-as .active,
.night-mode .btn-filter,
.night-mode .Markup-botton ,
.night-mode .slide-nav-next.uk-invisible:hover ,
.night-mode .list-group-items i ,
.night-mode .subs-amount ,
.night-mode .responsive-tab.style-1 li a,
.night-mode .story-pop .story-side {
    background: #12141e !important;
    border-color: transparent;
    color: white;
}

/* button hover */
.night-mode .button:hover, 
.night-mode .button.btn-schoolmedia:hover,
.night-mode .button.btn-red:hover,
.night-mode .button.btn-pink:hover,
.night-mode .button.btn-purple:hover,
.night-mode .button.btn-blue:hover,
.night-mode .button.btn-cyan:hover,
.night-mode .button.btn-teal:hover,
.night-mode .button.btn-green:hover,
.night-mode .button.btn-yellow:hover,
.night-mode .button.btn-orange:hover,
.night-mode .button.btn-brown:hover,
.night-mode .button.btn-grey:hover,
.night-mode .button.btn-default:hover,
.night-mode .button.btn-white:hover,
.night-mode .button.btn-light:hover,
.night-mode .button.btn-disabled:hover,
.night-mode .Markup-botton:hover, 
.night-mode :not(pre)>code:hover, 
.night-mode .uk-label:hover, 
.night-mode .uk-icon-button:hover, 
.night-mode .uk-modal-close-full:hover, 
.night-mode .uk-pagination>.uk-active>*, 
.night-mode .slidenav-next:hover, 
.night-mode .slidenav-prev:hover, 
.night-mode #backtotop a:hover, 
.night-mode .comment-by a.reply, 
.night-mode .Markup-botton:hover, 
.night-mode .Markup-botton::before, 
.night-mode .grid-slider-header .slide-nav-prev, 
.night-mode .grid-slider-header .slide-nav-next,
.night-mode ul.dropdown-user-menu li a i  ,
.night-mode header .head_user .opts_icon:hover,
.night-mode header .head_user .opts_icon:focus ,
.night-mode header .opts_icon_link:hover ,
.night-mode .post-comment-opt:hover, .night-mode .post-comment-opt:focus ,
.night-mode header .icon-browse .icon-menu-item:hover,
.night-mode span.blog-item-tag ,
.night-mode .quiz-block .btn-acts i:hover, 
.night-mode .quiz-block .btn-acts .button:hover ,
.night-mode ul.story-side-list li a .add-story-btn, 
.night-mode .story-btn-close ,
.night-mode .post-new-btn-close ,
.night-mode .uk-dropdown-nav > li > a:hover, 
.night-mode .uk-dropdown-nav > li > a:focus,
.night-mode .uk-dropdown-nav > li.uk-active > a{
    background-color: #191d2f  !important;
    color: white !important;
}



/* reset links */
.night-mode a,
.night-mode #breadcrumbs,
.night-mode .uk-accordion .uk-accordion-title,
.night-mode .uk-accordion-title::before,
.night-mode .dropdown-user-name,
.night-mode .dropdown-user-name span,
.night-mode .comment-by ,
.night-mode .post .post-state .post-state-btns {
    color: #c7c7c7 !important;
}

.night-mode a:hover,
.night-mode #breadcrumbs ul li a,
.night-mode .uk-accordion .uk-open .uk-accordion-title,
.night-mode .uk-accordion-title::before,
.night-mode .responsive-tab.style-2.uk-active,
.night-mode .responsive-tab .uk-active a,
.night-mode .uk-tab>.uk-active>a{
    color: white !important;
}
 
/* all borders  */ 
.night-mode .sidebar .sidebar_innr .sections ,
.night-mode ul.dropdown-user-menu .menu-divider, 
.night-mode ul.dropdown-search-list .list-title,
.night-mode ul.dropdown-search-list .menu-divider,
.night-mode .dropdown-notifications-content ul li, 
.night-mode .dropdown-notifications-headline,
.night-mode .dropdown-notifications-footer ,
.night-mode .dropdown-user-details, 
.night-mode .uk-tab>.uk-active>a ,
.night-mode .main_sidebar .sidebar-header ,
.night-mode pre , 
.night-mode .nav-profile,
.night-mode .contact-list-media img ,
.night-mode .contact-list-media .online-dot , 
.night-mode .contact-list-media .offline-dot ,
.night-mode .course-card.course-card-list ,
.night-mode .job-block-details ,
.night-mode .quiz-block-add-replay ,
.night-mode .post-new-header ,
.night-mode .post-new-tab-nav{
    border-color: rgba(255, 255, 255, 0.1) !important;
}



/* Remove border color  */ 
.night-mode .quiz-block-replay,
.night-mode .post .post-state ,
.night-mode header .head_search .head_search_cont input,
.night-mode header,  .night-mode header .icon-browse .more-app, .night-mode .section-header, .night-mode .footer, .night-mode .uk-tab::before,
.night-mode .chats-container , .night-mode .chats-headline , .night-mode .message-reply , .night-mode .chats-container-inner .chats-inbox{
    border-color: transparent !important;
}



/* reset all bg */
.night-mode .bg-schoolmedia,
.night-mode .bg-red,
.night-mode .bg-pink,
.night-mode .bg-purple,
.night-mode .bg-grey,
.night-mode .bg-green,
.night-mode .bg-blue,
.night-mode .bg-yellow,
.night-mode .bg-grey,
.night-mode .bg-light,
.night-mode .bg-black 
{
    background-color: #201f23 !important;
}

.night-mode .bg-white, 
.night-mode .bg-transparent, 
.night-mode .slide-nav-next.uk-invisible{
    background-color: #131313 !important;
}

.night-mode .responsive-tab:before ,
.night-mode .responsive-tab .uk-active a:before ,
 .night-mode .sidebar .sidebar_innr .sections li a:hover{
    background: transparent;
}
 
  
/* framework */
.night-mode .dropdown-notifications-footer, .night-mode .uk-card-default, .night-mode .uk-card-primary, .night-mode .uk-card-muted, .night-mode .uk-card-secondary, .night-mode .uk-background-default, .night-mode .uk-background-muted, .night-mode .uk-background-primary, .night-mode .uk-background-secondary, .night-mode .bg-gradient-schoolmedia, .night-mode .bg-gradient-grey, .night-mode .bg-gradient-green, .night-mode .bg-gradient-blue, .night-mode .bg-gradient-yellow, .night-mode .bg-gradient-red, .night-mode .bg-gradient-light, .night-mode .bg-gradient-grey, .night-mode .night-mode .uk-alert, .night-mode .uk-input, .night-mode .uk-select, .night-mode .uk-textarea, .night-mode .uk-input:focus, .night-mode .uk-textarea:focus, .night-mode .uk-drop, .night-mode .uk-dropdown, .night-mode .uk-modal-dialog, .night-mode .uk-notification-message, .night-mode .uk-offcanvas-bar, .night-mode .uk-list-striped>li:nth-of-type(odd), .night-mode .uk-overlay-default, .night-mode .uk-table-striped>tr:nth-of-type(odd), .night-mode .uk-table-striped tbody tr:nth-of-type(odd), .night-mode .glyph.fs1:hover span:not([class*="mls"]) , .night-mode .sidebar-chat-search {
    background: #12141E !important;
}
.night-mode .dropdown-option-nav:before{
    border-color: transparent transparent #12141E transparent !important;
}

.night-mode .uk-form-label {
    color: #dbdbdb !important;
}

.night-mode *+hr,
*+.night-mode .uk-hr,
.night-mode .uk-heading-line> ::before,
.night-mode .uk-heading-line> ::after,
.night-mode .uk-input,
.night-mode .uk-select,
.night-mode .uk-textarea,
.night-mode .uk-heading-divider,
.night-mode .uk-input:disabled,
.night-mode .uk-select:disabled, 
.night-mode .uk-textarea:disabled ,
.night-mode .uk-heading-bullet::before,
.night-mode .uk-divider-small::after ,
.night-mode .uk-list-divider>li:nth-child(n+2),
.night-mode .uk-table-divider>tr:not(:first-child),
.night-mode .uk-table-divider> :not(:first-child)>tr,
.night-mode .uk-list-large.uk-list-striped>li:nth-of-type(odd),
.night-mode .uk-table-divider> :first-child>tr:not(:first-child),
.night-mode .uk-list-striped>li:nth-of-type(odd),
.night-mode .uk-table-striped>tr:nth-of-type(odd),
.night-mode .uk-table-striped tbody tr:nth-of-type(odd) {
    border-color: rgba(255, 255, 255, 0.1);
}


.night-mode .syntaxhighlighter,
.night-mode .syntaxhighlighter .line.alt1 ,
.night-mode .syntaxhighlighter .line.alt2 , 
.night-mode pre ,
.night-mode .responsive-tab.style-4 :before{
    background-color: #393942 !important;
}

/* background-color level three */
.night-mode .header-searchbox {
    background-color: #45454d !important;

}
 
  
.night-mode .dropdown-notifications-content ul li:hover, .night-mode .notifications-not-read, .night-mode ul.dropdown-search-list .list-title, .night-mode ul.dropdown-search-list li a:hover, .night-mode .setting-menu ul li a:hover, .night-mode ul.dropdown-user-menu li a:hover, .night-mode .sidebar .sidebar_innr .sections li.active a, .night-mode .sidebar .sidebar_innr .sections li a:focus, .night-mode .sidebar .sidebar_innr .sections li.active a, .night-mode .sidebar .sidebar_innr .sections li.active a, .night-mode .contact-list:hover, .night-mode .bg-grey-hover:hover, .night-mode .responsive-tab a span, .night-mode .event-info-date, .night-mode .post .post-state .post-state-btns:hover, .night-mode .post-new-type > a:hover, .night-mode .post-comment-text-inner, .night-mode .contact-list-box-btns .button, .night-mode header .icon-browse .more-app, .night-mode .list-items:hover, .night-mode .story-pop ul.story-side-list li.uk-active a, .night-mode .story-pop ul.story-side-list li a:hover , .night-mode .dropdown-user-details:hover {
    background-color: #191d2f !important;
}

.night-mode .sidebar .sidebar_innr .sections:first-child {
    padding-top: 12px;
}

.night-mode header .head_search .head_search_cont input {
    background-color: rgba(255, 255, 255, 0.15);
}

.night-mode header .head_search .head_search_cont input:focus {
    background-color: rgb(255, 255, 255);
}

.night-mode .responsive-tab.style-4 .uk-active a:before ,
.night-mode .responsive-tab.style-2 .uk-active a:before {
    background: white !important;
}

 
.night-mode .photo-card ,
.night-mode .nav-single-group ,
.night-mode .post .post-state-details * img {
    border-color:#08090f
}
.night-mode .btn-subscribe .button:before ,
.night-mode .post-comment-text::before{
    border-right-color: #201f23;
}


.night-mode .story-pop{ border-top:transparent !important}

.night-mode .uk-offcanvas-overlay::before { background-color: rgba(0, 0, 0, 0.4392156862745098) !important}


.night-mode .message-bubble .message-text:before {
    border-right: 10px solid #12141e;
}
.night-mode .message-bubble.me .message-text:before {
     border-left: 10px solid #12141e !important;
     border-right: transparent;
}